__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos/vars
.env
.env.*
!.env.example

# Airflow
logs/*
!logs/.gitkeep
include/reports/*.png
!include/reports/.gitkeep

# Datos locales
data/*.db
data/*.sqlite
data/*.csv

# Docker / Postgres data (created when running from docker/)
docker/pgdata/
